.message {
    font-size: 70px;
    color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #224192; */
    background-image: url('../../../resources/Background.png');
}