.group_calls_list_item {
  display: flex;
  height: 100%;
  /* width: 20%; */
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: 0.3s;
}

.group_calls_list_item:hover {
  opacity: 0.5;
}

.answerInfo_placement {
  position: absolute;
  bottom: 10px;
}

.incoming-call-container {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
  width: 31vw; /* Ensure the container takes the full viewport width */
  max-width: 100%; /* Prevent it from exceeding the viewport width */
  height:28%;
  z-index: 9;
  overflow: hidden; /* Hide any overflowing content */
  box-sizing: border-box; /* Include padding in the width calculation */
  margin-top: 90px;
}

.incoming-call-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.call-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call-info {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.icon-with-text {
  display: flex;
  align-items: center;
}

.location-icon-wrapper {
  background-color: #FAA519;
  border-radius: 50%;
  padding: 0px 10px 4px 10px;
  margin-right: 11px;
  margin-bottom: -2px;
}
.location-icon {
  width: 20px;
  height: 20px;
}

.call-info-item {
  font-size: 20px;
  margin-bottom: 5px;
}

.call-actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.action-button {
  font-size: 14px; /* Smaller font size */
  padding: 8px 0px; /* Adjusted padding for reduced height */
  border: none;
  border-radius: 5px;
  text-wrap: wrap;
  cursor: pointer;
  margin: 1px;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap; /* Prevent text wrapping */
}

.button-icon {
  width: 18px;  /* Adjust the size of the icons */
  height: 18px;
  margin-right: 8px;  /* Space between icon and text */
}

.decline-button {
  background-color: #FF0000;
  color: white;
}

.answer-button {
  background-color: #07A44B;
  color: white;
}

/* Hide any potential horizontal scrollbars */
body, html {
  overflow-x: hidden;
}


