.dashboard_container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.dashboard_left_section {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard_right_section {
  width: 20%;
  height: 100%;
}

.dashboard_content_container {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
}

.dashboard_rooms_container {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}

.dashboard_info_text_container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.dashboard_info_text_title {
  font-size: 30px; /* Reduced font size */
}

.dashboard_info_text_description {
  margin-top: 10px;
  font-size: 14px; /* Reduced font size */
}

.dashboard_active_users_list {
  height: 80%;
}

.dashboard_logo_container {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px; /* Reduced font size */
}

.dashboard_logo_image {
  width: 50%; /* Reduced width */
}

.scroll_group_list {
  max-height: 100%;
  overflow-y: auto;
  width: 100%;
  position: absolute;
  font-size: 16px; /* Reduced font size */
  display: grid; /* Enable grid layout */
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 8px; /* Reduced gap between grid items */
  height: 100%;
  box-sizing: border-box; /* Include padding in width and height calculations */
}

.scroll_group_list::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.operator {
  position: absolute;
  z-index: 5;
  margin-top: 50rem;
  width: 25%;
  font-size: 20px; /* Reduced font size */
}

.test {
  z-index: 5;
  font-size: 80px; /* Reduced font size */
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; /* Reduced margin */
}

.activity-title {
  font-size: 24px; /* Reduced font size */
  font-weight: bold;
  color:  #29417D;
}

.today-button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 5px 20px; /* Reduced padding */
  border-radius: 15px; /* Reduced border-radius */
  border: 2px solid #ffc107;
}

.section-title {
  font-size: 18px; /* Reduced font size */
  font-weight: 600;
  margin-bottom: 20px; /* Reduced margin */
  color:  #29417D;
}

.agents-status .agent-card {
  background-color: #eaf0ff;
  padding: 10px; /* Reduced padding */
  border-radius: 8px;
  text-align: center;
  margin-bottom: 10px; /* Reduced margin */
}

.agents-status .available-agents {
  background-color: #F3F7FF;
  height: 100%;
}

.agents-status .on-break {
  background-color: #FEFAF1;
  height: 100%;
}

.agents-status .busy-in-call {
  background-color: #FFDADF;
  height: 100%;
}

.agents-status .after-call-work {
  background-color: #F6F6F6;
  height: 100%;
}

.agent-label {
  display: block;
  margin-top: 10px;
  width:10px;
  margin-top: 5px; /* Reduced margin */
  font-size: 14px; /* Reduced font size */
  color: #555;
}

.agent-count {
  font-size: 20px; /* Reduced font size */
  font-weight: bold;
  color:  #29417D;
  display: flex;
    justify-content: end;
    /* margin-top: 10px; */
}

.icon {
  color: #666;
  display: flex;

}

.calls-status .calls-card {
  text-align: center;
  padding: 8px; /* Reduced padding */
  margin-bottom: 10px; /* Reduced margin */
}

.calls-label {
  display: block;
  font-size: 14px; /* Reduced font size */
  color: #29417D;
}

.calls-count {
  font-size: 37px; /* Reduced font size */
  font-weight: bold;
  color: #333;
}

ul {
  padding: 0;
  list-style-type: decimal;
}

ul li span {
  float: right;
}

.top-image-container-dashboard {
  position: relative;
  width: 100%;
  height: 140px; /* Further reduced height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../resources/Top.png');
  background-size: 40% auto; /* Further reduced size of the top image */
  background-position: center;
  background-repeat: no-repeat;
  top: -35px;
    z-index: 99;
    left: -65px;
}

@media (max-width: 800px) {
  .top-image-container-dashboard {
     top: -30px;
      left: -40px;
      background-size: 40% auto;
  }
}

@media (max-width: 750px) {
  .top-image-container-dashboard {
     top: -30px;
      left: -35px;
      background-size: 40% auto;
  }
}

@media (max-width: 600px) {
  .top-image-container-dashboard {
     top: -35px;
      left: -35px;
      background-size: 40% auto;
  }
}

@media (max-width: 500px) {
  .top-image-container-dashboard {
     top: -40px;
      left: -30px;
      background-size: 40% auto;
  }
}

@media (max-width: 400px) {
  .top-image-container-dashboard {
     top: -45px;
      left: -30px;
      background-size: 40% auto;
  }
}
