.query-tree-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
}

.modal-header {
  padding: 16px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  background-color: #29417D;
}

.modal-header h2 {
  margin: 0;
  color: #fff;
  font-size: 24px;
}

.modal-header p {
  margin: 8px 0 0;
  color: #fff;
}

.modal-body {
  padding: 16px;
  max-height: 350px;
  overflow-y: auto;
}

.tree-container {
  display: flex;
  justify-content: space-between;
}

.tree-column {
  width: 45%;
}

.tree-node {
  margin: 30px 0;
}

.tree-node-content {
  margin-left: 20px;
  align-items: center;
}

.node-title {
  margin-left: 8px;
}

.tree-children.collapsed {
  display: none;
}

.modal-footer {
  padding: 16px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: center !important;
  gap: 10px;
}

.toggle-collapse-expand-button,
.close-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.toggle-collapse-expand-button {
  background-color: #29417D;
  color: white;
  border: 1px solid white;
}

.close-button {
  background-color: #FAA519;
  color: #fff;
  width:130px;
  border-radius: 20px;
}


.modal-body::-webkit-scrollbar-thumb{

  background-color:#dbe2eb ;
 }
 .modal-body::-webkit-scrollbar{
  width:8px;
  background:transparent ;
 }



.node-icon {
  margin-right: 12px;
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
}

.toggle-collapse-expand-button {
  margin-left: auto;
}

.tree-container {
  display: flex;
}

.tree-column {
  width: 50%;
}

.collapse-toggle-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-right: 8px;
}



.node-icon {
  margin-right: 8px;
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
}

.tree-children {
  padding-left: 20px;
}

.tree-children.collapsed {
  display: none;
}

.toggle-collapse-expand-button {
  margin-left: auto;
}

.collapse-toggle-button{
  background-color: #F3F7FF;
    border: 1px solid #D5E0F7;
    border-radius: 2px;
    color: #29417D;
    height: 23px;
    box-shadow: 0px 0px 2px 0px;
}

.node-icon {
  margin-right: 8px;
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
}

.tree-children {
  padding-left: 20px; /* Indentation for subqueries */
}

.tree-node {
  margin-bottom: 8px;
}